.obsidian

Code
dconf
google-chrome
menus
pulse
session
Thunar
xfce4
baloofileinformationrc
xarchiver
QtProject.conf
gtk-2.0
copyq
oomox
mimeapps.list
flutter
user-dirs.dirs
user-dirs.locale
obsidian
kdeglobals
figma-linux
kconf_updaterc
wxMaxima.conf
