# Ignore everything
**
!*/
/**

# Except

# Folders
!Kvantum/**
!Kvantum/
!alacritty/**
!alacritty
!betterlockscreen/**
!betterlockscreen/
!gtk-3.0/**
!gtk-3.0/
!i3/**
!i3/
!lightdm/**
!lightdm/
!neofetch/**
!neofetch/
!picom/**
!picom/
!polybar/**
!polybar/
!qt5ct/**
!qt5ct/
!rofi/**
!rofi/
!wallpapers/**
!wallpapers/

# Files
!.gitignore
!.zshrc
!README.md
!dolphinrc
!kiorc
!kservicemenurc
!ktrashrc
!lockscreen.png
!sleep.conf
!system.conf
!theme.zsh-theme
!win11
